<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owusu.cryptosignalalert">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoSignalAlert"
        android:name="com.owusu.cryptosignalalert.CryptoSignalAlertApp">
        <activity
            android:launchMode= "singleInstance"
            android:name=".views.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CryptoSignalAlert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleInstance"
            android:name=".views.activities.PriceTargetEntryActivity"
            />

<!--        <receiver android:name="com.owusu.cryptosignalalert.receivers.BootCompletedReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <service android:name="com.owusu.cryptosignalalert.service.CryptoSignalAlertService"
            android:enabled="true"
            android:exported="true"
            />

        <receiver android:name="com.owusu.cryptosignalalert.receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.owusu.cryptosignalalert.alarm.CryptoAlarmManager.INTENT_ACTION_START_ALARM_LISTENER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>